.section-about {
    background-color: $color-grey-light-1;
    height: fit-content;
    padding: 25rem 0;
    margin-top: -20vh;

}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    transform: skewY(-6deg);

    &>* {
        transform: skewY(6deg);
    }

    //& > will select the direct child of &(i.e section-features) and all(*) of them and there direct child is only "row"
    margin-top: -11rem;
}

.section-tours {

    background-color: $color-grey-light-1;
    height: fit-content;
    padding: 25rem 0 10rem 0;
    margin-top: -20vh;
}

.section-stories {
    padding: 15rem 0;
    background-color: $color-grey-light-1;
}