.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;

    /* position of the parent should be specified as relative to use the child prositon as absolute */
    &__logo-box {
        /*using nesting*/
        position: absolute;
        /* positon of the child should be specified as absolute to move it with respect to the parent */
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;

    }

    &__logo:hover {
        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
    }



    &__text-box {


        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

}